numpy==1.21.6
pyyaml>=6.0
pillow>=9.5.0
opencv-python-headless==4.12.0.88
insightface>=0.7.3
stringzilla==3.11.3
onnxruntime-gpu==1.14.1
pandas
typing_extensions>=4.7.1
facenet-pytorch==2.4.1
ninja==1.11.1.4

# torch==1.8.1
# torchvision==0.9.1
# torchaudio==0.8.1
